@media (max-width: 767px) {
    .nav li {
        padding: 15px;
    }
    .menu-list{
         top: 100px;
         left: 30px;
     }
    .show-menu{
        top: 80px;
    }
    .container {
        padding: 0 30px;
    }
}
@media (min-width: 768px) {
    .menu-list{
        top: 30px;
        left: 100px;
    }
    .show-menu{
        left: 80px;
    }
    .nav {
        padding: 0 15px;
    }
    .nav li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
    }
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}