
.landing-page {
    background: url("images/bg-pattern-1.png");
}
.introduction-text {
    position: relative;
    top: 35%;
    padding: 0 30px;
}
.introduction-text span {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
}

.toggle-menu{
    position: fixed;
    z-index: 999;
    top: 30px;
    left: 30px;
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    line-height: 50px;
    -webkit-box-shadow: 3px 3px 3px rgba(50,50,50,.1);
    -moz-box-shadow: 3px 3px 3px rgba(50,50,50,.1);
    box-shadow: 3px 3px 3px rgba(50,50,50,.1);
}
.toggle-close .lines {
    background: 0 0;
}
.lines::after, .lines::before, h2::before {
    content: '';
}
.toggle-close .lines::after, .toggle-close .lines::before {
    top: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.lines::after {
    top: -5px;
}
.toggle-close .lines::after {
    -webkit-transform: rotate3d(0,0,1,-45deg);
    transform: rotate3d(0,0,1,-45deg);
}
.lines::before {
    top: 5px;
}
.toggle-close .lines::before {
     -webkit-transform: rotate3d(0,0,1,45deg);
     transform: rotate3d(0,0,1,45deg);
 }
.lines {
    position: relative;
    vertical-align: middle;
}
.lines, .lines::after, .lines::before {
    background: #1e1e1e;
    width: 20px;
    height: 2px;
    display: inline-block;
}
.lines::after, .lines::before {
    position: absolute;
    left: 0;
}

.menu-list{
    position: fixed;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    -webkit-transition: ease-out .3s;
    -moz-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
    -webkit-box-shadow: 3px 3px 3px rgba(50,50,50,.1);
    -moz-box-shadow: 3px 3px 3px rgba(50,50,50,.1);
    box-shadow: 3px 3px 3px rgba(50,50,50,.1);
}
.show-menu{
    visibility: visible;
    opacity: 1;
}

.nav{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.row:before, .row:after, .nav:before, .nav:after{
    display: table;
    content: " ";
}

.row:after, .nav:after{
    clear: both;
}

.nav li{
    padding: 0 15px;
    letter-spacing: 1.5px;
}

.nav li a{
    padding: 0;
    color: #a0a0a0;
    position: relative;
    display: block;
    -webkit-transition: linear .1s;
    -moz-transition: linear .1s;
    -o-transition: linear .1s;
    transition: linear .1s;
}

.down-arrow{
    position: absolute;
    left: 50%;
    bottom: 50px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    font-size: 16px;
}

.down-arrow a{
    color: #1e1e1e;
}

.arrow-down:before{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.about {
    padding: 100px 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;;
    margin-left: auto;
}

.container:before, .container:after {
    display: table;
    content: " ";
}

.container:after{
    clear: both;
}
.section-title {
    position: relative;
    margin-bottom: 50px;
    padding-left: 23px;
}
.section-title p {
    margin: 0;
    text-align: left;
}

.about-image, .contact-info, .about-content {
    padding: 0;
}
.contact-info ul li {
    padding: 14px 0;
    border-bottom: 1px solid #dcdcdc;
}
.contact-info ul li:first-child {
    padding-top: 0;
}
.contact-info ul li:last-child {
     border: none;
     padding-bottom: 0;
 }
.contact-info ul li h4 {
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 5px;
}